button.floatton-btn {
position: fixed;
bottom: 10px;
top: auto;
outline: none;
z-index: 9999;
line-height: 20px;
background-color: #ed1c24;
border: 2px solid #f00;
border-radius: 5px;
font-size: 22px;
color: #fff;
width: 43px;
height: 40px;
text-align: center;
right: 10px
}
button.floatton-btn .dashicons {
	float: left;
	margin-right: 4px;
	font-size: 22px;
	line-height: 20px
}
button.floatton-btn .dashicons, button.floatton-btn .dashicons:before {
	width: auto;
	height: auto
}
button.floatton-btn .dashicons.no-icon {
	display: none
}
button.floatton-btn:focus {
	outline: none;
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
button.floatton-btn.floatton-btn-icon-only {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding: 0px;
	text-align: center
}
button.floatton-btn.floatton-btn-icon-only span {
	float: none;
	padding: 0px;
	margin: 0px
}
@media screen and (max-width: 600px) {
button.floatton-btn:not(.floatton-btn-no-icon) {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: 48px;
	width: 48px;
	padding: 0px;
	text-align: center
}
button.floatton-btn:not(.floatton-btn-no-icon) span {
	float: none;
	padding: 0px;
	margin: 0px
}
button.floatton-btn:not(.floatton-btn-no-icon) .dashicons {
	font-size: 25px;
	line-height: 48px
}
}
@media screen and (min-width: 770px) {
button.floatton-btn.floatton-hide-lg {
	display: none
}
}
@media screen and (max-width: 769px) and (min-width: 737px) {
button.floatton-btn.floatton-hide-lg, button.floatton-btn.floatton-hide-sm {
	display: block
}
button.floatton-btn.floatton-hide-md {
	display: none
}
}
@media screen and (max-width: 736px) {
button.floatton-btn.floatton-hide-lg, button.floatton-btn.floatton-hide-md {
	display: block
}
button.floatton-btn.floatton-hide-sm {
	display: none
}
}
body .floatton-container {
	max-width: 320px !important;
	max-height: 95%;
	width: 100%;
	display: none;
	position: fixed;
	background: #444;
	border: 1px solid #333;
	z-index: 999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 0px 0px 13px;
    margin: 0px 7px 0px;
	-webkit-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.15);
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 1;
    right: 5px;
    bottom: 60px;
    padding-bottom: 25px;
}
body .floatton-container .floatton-pointer {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #2980b9;
	position: absolute;
	bottom: -12px;
	right: 10px;
	left: auto;
	margin-left: -12px
}
.welcome-text {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    text-align:center;
}
body .floatton-container.floatton-pos-left .floatton-pointer {
	right: auto;
	left: 22px
}
body .floatton-container .floatton-close {
font-size: 15px;
position: absolute;
line-height: 28px;
height: 30px;
width: 30px;
color: #fff;
background-color: #2a2c2d;
top: -16px;
right: -10px;
z-index: 101;
cursor: pointer;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
padding: 0px 8px;
}
body .floatton-container .floatton-close:before {
	height: 30px;
	width: 30px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle
}
body .floatton-container .floatton-close:hover {
	cursor: pointer;
	color: #fff;
	background-color: #000
}
body .floatton-container.floatton-no-message .floatton-success {
	text-align: center
}
body .floatton-container .floatton-success {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #fff;
	z-index: 100;
	padding: 20px 16px
}
body .floatton-container .floatton-success .floatton-success-icons {
	display: block;
	font-size: 160px;
	line-height: 90px;
	width: auto;
	height: 90px;
	color: #27ae60
}
body .floatton-container .floatton-success .floatton-success-inner {
	display: table;
	height: 100%;
	width: 100%
}
body .floatton-container .floatton-success .floatton-success-content {
	display: table-cell;
	vertical-align: middle
}
body .floatton-container .floatton-inner {
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: -12px;
	padding-right: 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
body .floatton-container .floatton-inner.floatton-scroller {
	padding-right: 22px
}
body .floatton-container .floatton-inner::-webkit-scrollbar {
-webkit-appearance:none;
box-shadow:none;
width:5px
}
body .floatton-container .floatton-inner::-webkit-scrollbar-thumb {
background:rgba(0,0,0,0.5);
-webkit-border-radius:0.25rem;
-moz-border-radius:0.25rem;
-ms-border-radius:0.25rem;
-o-border-radius:0.25rem;
border-radius:0.25rem
}
body .floatton-container .floatton-inner::-webkit-scrollbar-track {
margin:1.25rem 0
}
body .floatton-container .floatton-inner .comment-reply-title, body .floatton-container .floatton-inner .comment-form, body .floatton-container .floatton-inner p {
	padding: 0px;
	border: 0px
}
body .floatton-container .floatton-inner .comment-reply-title, body .floatton-container .floatton-inner p {
	margin: 0px 0px 7px 0px
}
body .floatton-container .floatton-inner .comment-reply-title {
	padding-right: 20px;
	font-size: 22px;
	line-height: 27px
}
body .floatton-container .floatton-inner, body .floatton-container .floatton-inner p {
	font-size: 13px;
	line-height: 1.65
}
body .floatton-container .floatton-inner img {
	max-width: 100%;
	padding: 0px;
	margin-bottom: 7px
}
body .floatton-container .floatton-inner input[type="text"], body .floatton-container .floatton-inner input[type="email"], body .floatton-container .floatton-inner input[type="url"], body .floatton-container .floatton-inner input[type="password"], body .floatton-container .floatton-inner input[type="search"], body .floatton-container .floatton-inner input[type="tel"], body .floatton-container .floatton-inner input[type="number"] {
	font-size: 13px;
	line-height: 25px;
	padding: 5px 12px 3px;
	width: 100%;
	background: transparent;
	clear: both;
	margin: 0px;
	border: 1px solid #d1d1d1;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
body .floatton-container .floatton-inner input[type="text"]:focus, body .floatton-container .floatton-inner input[type="email"]:focus, body .floatton-container .floatton-inner input[type="url"]:focus, body .floatton-container .floatton-inner input[type="password"]:focus, body .floatton-container .floatton-inner input[type="search"]:focus, body .floatton-container .floatton-inner input[type="tel"]:focus, body .floatton-container .floatton-inner input[type="number"]:focus {
	border-color: #2980b9;
	color: #000
}
body .floatton-container .floatton-inner textarea {
	font-size: 13px;
	padding: 5px 12px 3px;
	width: 100%;
	background: transparent;
	clear: both;
	max-height: 80px;
	margin: 0px;
	border: 1px solid #d1d1d1;
	color: #686868;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}
body .floatton-container .floatton-inner textarea:focus {
	border-color: #2980b9;
	color: #000
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
body .floatton-container .floatton-inner select, body .floatton-container .floatton-inner select:focus, body .floatton-container .floatton-inner textarea, body .floatton-container .floatton-inner textarea:focus, body .floatton-container .floatton-inner input[type="text"], body .floatton-container .floatton-inner input[type="text"]:focus, body .floatton-container .floatton-inner input[type="email"], body .floatton-container .floatton-inner input[type="email"]:focus, body .floatton-container .floatton-inner input[type="url"], body .floatton-container .floatton-inner input[type="url"]:focus, body .floatton-container .floatton-inner input[type="password"], body .floatton-container .floatton-inner input[type="password"]:focus, body .floatton-container .floatton-inner input[type="search"], body .floatton-container .floatton-inner input[type="search"]:focus, body .floatton-container .floatton-inner input[type="tel"], body .floatton-container .floatton-inner input[type="tel"]:focus, body .floatton-container .floatton-inner input[type="number"], body .floatton-container .floatton-inner input[type="number"]:focus {
	font-size: 16px
}
}
body .floatton-container .floatton-inner .floatton-req {
	border-color: #c0392b !important
}
body .floatton-container .floatton-inner label {
position: relative;
margin: 0px 0px -8px 6px;
text-transform: uppercase;
font-size: 10px;
font-weight: 400;
line-height: 10px;
z-index: 99;
background: #444;
padding: 2px 7px;
float: left;
color: #fff;
letter-spacing: 1px;
}
body .floatton-container .floatton-inner input[type="submit"], body .floatton-container .floatton-inner button[type="submit"] {
	
	padding: 12px 17px;
	font-size: 15px;
	font-weight: 400;
	margin: 0px 0px 5px !important;
	color: #fff;
	border: 0px;
	background-color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}
body .floatton-container .floatton-inner input[type="submit"]:hover, body .floatton-container .floatton-inner button[type="submit"]:hover {
	background-color: #2980b9
}
body .floatton-container .floatton-inner .comment-form br {
	content: "";
	max-height: 1px;
	display: block;
	clear: both
}
body .floatton-container .floatton-inner .floatton-ratings {
	display: block;
	clear: both;
	text-align: center
}
body .floatton-container .floatton-inner .floatton-ratings .dashicons {
	font-weight: normal;
	font-style: normal;
	color: #ffb900;
	font-size: 50px;
	line-height: 60px;
	width: auto;
	height: auto;
	padding: 0px 5px;
	margin: 0px -5px 0px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
	zoom: 1;
*display:inline
}
body .floatton-container .floatton-inner .floatton-ratings .dashicons:hover {
	cursor: pointer
}
body .floatton-container .floatton-inner .floatton-errors {
	display: block;
	clear: both
}
body .floatton-container .floatton-inner .floatton-errors, body .floatton-container .floatton-inner .floatton-errors p, body .floatton-container .floatton-inner .floatton-errors ul, body .floatton-container .floatton-inner .floatton-errors li, body .floatton-container .floatton-inner .floatton-errors span {
	padding: 0px !important;
	margin: 0px !important
}
body .floatton-container .floatton-inner .floatton-errors .floatton-error {
	background-color: #f2dede;
	padding: 5px;
	margin: 0px 0px 5px;
	border: 1px solid #ebccd1;
	display: block;
	max-width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}
body .floatton-container .floatton-inner .floatton-errors .floatton-error, body .floatton-container .floatton-inner .floatton-errors .floatton-error p {
	color: #a94442;
	font-size: 12px;
	line-height: 15px
}
body .floatton-container .floatton-loading {
	line-height: 25px;
	font-family: 'floatton-icons';
	font-weight: normal;
	font-style: normal;
	font-size: 34px;
	line-height: 10px;
	color: #2980b9;
	display: none;
	position: absolute;
	bottom: 5px;
	left: 15px
}
body .floatton-container .floatton-loading span {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
	zoom: 1;
*display:inline;
	-webkit-animation: floatton-flash 3s ease infinite;
	animation: floatton-flash 3s ease infinite
}
body .floatton-container .floatton-loading .floatton-dot-1:before {
	content: "\e80a"
}
body .floatton-container .floatton-loading .floatton-dot-2:before {
	content: "\e80b"
}
body .floatton-container .floatton-loading .floatton-dot-3:before {
	content: "\e80c"
}
@media screen and (max-width: 600px) {

}
@-webkit-keyframes floatton-flash {
0%, 100%, 50% {
opacity:1
}
25%, 75% {
opacity:0
}
}
@keyframes floatton-flash {
0%, 100%, 50% {
opacity:1
}
25%, 75% {
opacity:0
}
}
